header {
    width: 100%;
}

header .subheader {
    background-color: #208ead;
    height: 80px;
    vertical-align: middle;
}

header .logo_container {
    height: 100%;
    position: relative;
}

header img {
    padding-left: 2em;
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header h1 {
    height: 100%;
    background-color: #171717;
    /* display: inline; */
    color: #fff;
    padding-left: 1em;
    vertical-align: middle;
    text-align: center;
    font-weight: 200;
    font-size: 1.3em;
    padding: 12px;
    margin: 0;
}